{% extends 'layout.html.twig'%}

{% block content %}
 <!--Start main-->
        <section class="container-fluid greylight_background"><!-- feature 1 --> 
            <div class="row m-y-0 main-feature" style="padding-top: 10%;">
               <div class="col-xs-12 col-md-offset-1 col-md-4" style="padding-top: 10%;">
                <h2 class="m-t-1">Planifiez et personnalisez vos parcours</h2>
                <p class="content">Ou recherchez un parcours parmi les parcours déjà créés.</p>
             </div><!-- /col -->
             <div class="col-md-1"></div>
              <div class="col-xs-12 col-md-6 col-lg-6" style="padding-left:0 !important">
                <img src="./img/Komoot_Plan-e1504877914776.jpg" alt="" class="img-fluid" height="300px;" width="300px;">
              </div><!-- /col -->
            </div><!-- /row -->
          </section><!-- /container --><!-- /feature --> 

          <section class="container-fluid" style="padding-top: 10%;"><!-- feature 3 --> 
            <div class="row m-y-0 main-feature" id="feature">
               <div class="col-xs-12 col-md-offset-1 col-md-4" style="padding-top: 10%;">
                <br>
                <h3 class="m-t-3" style="color: #fff;  font-size: 4.5rem; font-weight: 700; padding-bottom: 5%;">Vos parcours</h3>
                <p class="content" style="color: #fff; font-size: 2.5rem; font-family: Roboto, sans-serif;">Accèdez à tous vos parcours planifiés sur le site.</p>
             </div><!-- /col -->
          </section><!-- /container --><!-- /feature -->

          <section class="container-fluid"><!-- feature 3 --> 
            <div class="row m-y-0 main-feature">
               <div class="col-xs-12 col-md-offset-1 col-md-4" style="padding-top: 10%;">
                <h3 class="m-t-3">Enregitrement d'activité</h3>
                <p class="content">Enregistrez toutes vos activités et transférez-les sur WorldRouteTracking  pour les partager ou les modifier.</p>
             </div><!-- /col -->
             <div class="col-md-1"></div>
             <div class="col-xs-12 col-md-6 col-lg-6" style="padding-left:0 !important">
               <img src="./img/app-offline-hd-2.jpg" alt="" class="img-fluid" height="300px;" width="300px;">
             </div><!-- /col -->
           </div><!-- /row -->
          </section><!-- /container --><!-- /feature --> 
        <!-- End of main-->
{% endblock %}